<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenida</title>
    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    <style>
        body, html {
            height: 100%;
        }
        .center-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
        .button-container {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .logout-button {
            position: fixed;
            top: 20px;
            right: 20px;
        }
    </style>
</head>
<body>
    <div class="logout-button">
        <a href="{{ url_for('logout') }}" class="btn btn-danger">Cerrar sesión</a>
    </div>

    <div class="container-fluid center-content">
        <h1 class="mb-4">Bienvenido, {{ username }}!</h1>
        
        <div class="text-center">
            {% if message %}
                <div class="alert-container">
                    <div class="alert alert-primary mb-3" role="alert">{{ message }}</div>
                </div>
            {% else %}
                <div class="button-container">
                    <a href="{{ url_for('ingresar_dato') }}" class="btn btn-primary" id="ingresarDato" onclick="desactivarEnlace()">Clickeaameee!!!!</a>
                </div>
            {% endif %}
        </div>
    </div>

    <!-- Bootstrap JS and Popper.js -->
    <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
    <script>
        function desactivarEnlace() {
            var enlace = document.getElementById("ingresarDato");
            enlace.style.pointerEvents = 'none';  
            enlace.style.opacity = '0.5';  
            enlace.textContent = 'Dato Ingresado';  
        }
    </script>
</body>
</html>
